#about {
  background: #d8cdcd;
}

#projects {
  background-image: url('../../img/travel/sunset.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #212529;
  font-size: 20px;
}

#projects h2.section-heading {
  color: #42e5f4;
  text-shadow: 1px 1px 0 black;
}

#completed-projects h3.section-subheading {
  color: #42e5f4!important;
  text-shadow: 1px 1px 0 black;
  font-weight: bold;
}

#incomplete-projects h3.section-subheading {
  color: #42e5f4!important;
  text-shadow: 1px 1px 0 black;
  font-weight: bold;
}

#projects .projects-item .projects-caption {
  background-color: rgba(0,0,0,0.5);
  color: #42e5f4;
}

#projects h4 {
  text-shadow: 2px 2px 0 black;
}

#projects p.text-muted {
  color: #42e5f4!important;
  text-shadow: 1px 1px 0 black;
}

#projects button.btn.btn-primary {
  text-shadow: 1px 1px 0 black;
}

div#completed-projects {
  display: flex;
  justify-content: center;
}

div#incomplete-projects {
  display: flex;
  justify-content: center;
}

#technologies {
  background: #d8cdcd;
}

section#contact {
  background-image: url('../../img/travel/beach.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(255,255,255,0.25);
}

section#contact .section-heading {
  color: #212529;
  text-shadow: 1px 1px 0 white;
}

section#contact .section-subheading {
  text-shadow: 1px 1px 0 white;
}

.list-inline-item {
  height: 200px;
}
