h1 {
  color: #ff2734;
}

body header.masthead {
  background-image: url('../../img/travel/boston.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

body #mainNav {
  background-color: #000;
}

.rounded-circle {
  border-radius: 25%!important;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
  border-style: none;
}
