body {

}

h1 {
  color: #FF2734;
}

body header.masthead {
  background: #fff;
  background-image: url('../../img/boston.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body #mainNav {
  background-color: #000;
}
