body {

}

h1 {
  color: #FF2734;
}

body header.masthead {
  background: #fff;
  background-image: url('../../img/travel/london.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body footer {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
}

body #mainNav {
  background-color: #000;
}
